


.App{
  margin: 0;
  padding: 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(34, 34, 34);
  color: #ddd;
  text-align: center;
  
}


h1 {
  left: calc(50% - 40px);
  color: #f6a6b6;
  text-align: center;
}
h2 {
  background-color:azure;
  text-shadow: red -2px 0, cyan 2px 0;
  border-radius:  14px ;
  padding: 10px;
  

  left: calc(50% - 40px);
  color:#282c34;
  text-align: center;
}
button{
  background-color: #208f9e;
  box-shadow: 1px 1px azure;
  color: #fff;
  padding: 7px;
  margin: 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 14px;
}